<div class="card mt-3 p-2">
    <div class="img-container text-center">
        <img src={{imagenDos}} class="img-fluid img-background" >
        <img src={{imagenUno}} class="rounded-circle img-center img-fluid card-img-top">
    </div>
    <div class="card-body">
        <div class="justify-content-center text-center mb-3">
            <span class="display-4">
                {{usuario.nombre}} {{usuario.apellido}}
            </span>
        </div>
        <div class="row text-center">
            <div class="col-md-6 mb-3">
                <label>
                    DNI:
                </label>
                <strong>
                    {{usuario.dni}}
                </strong>
            </div>

            <div class="col-md-6 mb-3">
                <label>
                    Edad:
                </label>
                <strong>
                    {{usuario.edad}}
                </strong>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 mb-3">
                <label>
                    Email:
                </label>
                <strong>
                    {{usuario.email}}
                </strong>
            </div>

            <div class="col-md-6 mb-3">
                <label>
                    Tipo:
                </label>
                <strong>
                    {{usuario.tipo}}
                </strong>
            </div>
        </div>
        <hr>
        <div class="row text-center mt-3" *ngIf="usuario.tipo == 'especialista'">
            <div class="title">
                <h4>
                    Definir rango horario de disponibilidad
                </h4>
            </div>
            <div class="col-md-6 mb-3">
                <strong class="ml-3">
                    Desde:  
                </strong>
                <input type="time" step="3600" [(ngModel)]="desde">
            </div>

            <div class="col-md-6 mb-3">
                <strong>
                    Hasta:
                </strong>
                <input type="time" step="3600" [(ngModel)]="hasta">
            </div>
            <div class="submit-container">
                <input type="submit" value="Confirmar" class="btn btn-block btn-outline-primary btn-lg" (click)="guardarHorario()">
            </div>
        </div>
        <div class="col-md-12 mb-3 text-center" *ngIf="usuario.tipo == 'paciente'">
            <input type="submit" value="Descargar PDF" class="btn btn-block btn-outline-primary btn-lg w-75" (click)="descargarPdf()">
        </div>
    </div>
    <div class="container-turnos">
        <div class="text-center">
            <span class="display-4">Mis Turnos</span>
        </div>
        <div class="containerRelative">
            <!-- <div class="mt-4 mb-4">
                <form class="form-inline my-2 my-lg-0 row">
                    <div class="col-md-8">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" [(ngModel)]="palabraBusqueda"
                            [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                            (click)="buscarPalabra()">Buscar</button>
                    </div>
                </form>
            </div> -->
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Paciente</th>
                        <th scope="col">Especialidad</th>
                        <th scope="col">Día</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    <tr *ngFor="let turno of listadoTurnosMostrar">
                        <td>{{turno.paciente.nombre | lowercase}} {{turno.paciente.apellido | uppercase}}</td>
                        <td>{{turno.especialidad}}</td>
                        <td>{{turno.dia}}</td>
                        <td><strong>{{turno.estado | uppercase}}</strong></td>
                        <td>
                            <button class="btn btn-primary btn-sm mr-1" (click)="verMas(turno)">
                                Ver más
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-historia-turno *ngIf="formHistoria" [lanzarAnimacion]="formHistoria" [turno]="turno"
                class="formHistoria" (cerrarForm)="cerrarForm($event)"></app-historia-turno>
        </div>
    </div>
</div>