<div class="mx-0 home">
    <div class="homecontent ml-auto d-flex flex-wrap flex-column w-50 float-right p-2">
        <div class="text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/2966/2966327.png" class="img-logo">
        </div>
        <h1 class="text-center">Clinica Giffard</h1>
        <!-- <a [routerLink]="['/sala']" class="btn btn-l btn-success">¡Juegos!</a>
        &nbsp;
        <a [routerLink]="['/about']" class="btn btn-l btn-primary">Quien soy?</a> -->
    </div>
</div>
