<!-- <app-loading (cargado)="renderizar($event)"></app-loading> -->
<app-cargando (cargado)="renderizar($event)"></app-cargando>
<div class="mx-0 home" *ngIf="paraMostrar">
    <div class="homecontent ml-auto d-flex flex-wrap flex-column w-50 float-right p-2">
        <div class="text-center">
            <img src="https://cdn-icons-png.flaticon.com/512/2966/2966327.png" class="img-logo">
        </div>
        <h1 class="text-center mt-3">Clinica Giffard</h1>
        <span class="text-center display-4">
            Donde tu salud <br> es lo mas importante.
        </span>
        <!-- <a [routerLink]="['/sala']" class="btn btn-l btn-success">¡Juegos!</a>
        &nbsp;
        <a [routerLink]="['/about']" class="btn btn-l btn-primary">Quien soy?</a> -->
    </div>
</div>
