<div class="card p-3 mt-3">
    <div class="title text-center">
        <span class="display-4">
            Nuevo Turno
        </span>
    </div>
    <hr>
    <!-- <form class="needs-validation" [formGroup]="formulario">
        <div class="d-flex flex-row justify-content-center align-content-center align-items-center mb-3"
            *ngIf="usuario.tipo == 'administrador'">
            <div class="mr-3">
                <strong>Paciente:</strong>
            </div>
            <div class="">
                <button class="btn btn-info dropdown-toggle w-100" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                    {{pacienteEscogido}}
                </button>
                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="getValorDropdown($event, 'paciente')"
                        (click)="getPaciente(paciente)" *ngFor="let paciente of listaPacientes">{{paciente.nombre}}
                        {{paciente.apellido}}</a>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-md-6 text-center">
                <div class="mr-3">
                    <strong>Especialidad:</strong>
                </div>
                <div class="">
                    <button class="btn btn-info dropdown-toggle w-100" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                        {{especialidadEscogida}}
                    </button>
                    <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="getValorDropdown($event, 'especialidad')"
                            *ngFor="let especialidad of listaEspecialidades">{{especialidad}}</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-center">
                <div class="mr-3">
                    <strong>Doctor/a:</strong>
                </div>
                <div class="">
                    <button class="btn btn-info dropdown-toggle w-100" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                        {{doctorEscogido}}
                    </button>
                    <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="getValorDropdown($event, 'doctor')"
                            (click)="getDoctor({doctor})"
                            *ngFor="let doctor of listaEspecialistasMostrar">{{doctor.nombre}} {{doctor.apellido}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="mr-3">
                    <strong>Día:</strong>
                </div>
                <div class="">
                    <input class="btn btn-info dropdown-toggle w-100" matInput [matDatepicker]="picker"
                        (dateInput)="addEvent('input', $event)" [min]="fechaMinima" [max]="fechaMaxima">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker class="dropdown-menu w-75"></mat-datepicker>
                </div>
            </div>

            <div class="col-md-6 text-center">
                <div class="mr-3">
                    <strong>Hora:</strong>
                </div>
                <div class="">
                    <button class="btn btn-info dropdown-toggle w-100" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                        {{horaEscogida}}
                    </button>
                    <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" (click)="getValorDropdown($event, 'hora')"
                            *ngFor="let hora of listaHorasDisponibles">{{hora}}</a>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row">
            <div class="col-md-6 text-center">
                <button class="btn btn-outline-warning btn-lg btn-block" type="submit"
                    (click)="limpiarCampos()">Limpiar</button>
            </div>

            <div class="col-md-6 text-center">
                <button class="btn btn-outline-primary btn-lg btn-block" type="submit"
                    (click)="subirTurno()">Confirmar</button>
            </div>
        </div>
    </form> -->
    <div class="container-fast">
        <div class="d-flex flex-row justify-content-center align-content-center align-items-center mb-3"
            *ngIf="usuario.tipo == 'administrador'">
            <div class="mr-3">
                <strong>Paciente:</strong>
            </div>
            <div class="">                
                <button class="btn btn-info dropdown-toggle w-100" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                    {{pacienteEscogido}}
                </button>
                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="getValorDropdown($event, 'paciente')"
                        (click)="getPaciente(paciente)" *ngFor="let paciente of listaPacientes">{{paciente.nombre}}
                        {{paciente.apellido}}</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="text-center mb-2 p-2">
                    <img src="../../../../assets/solicitarTurno/especialidad.png" class="img-fluid img-options">
                </div>
                <button class="btn btn-info dropdown-toggle w-100" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                    {{especialidadEscogida}}
                </button>
                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="getValorDropdown($event, 'especialidad')"
                        *ngFor="let especialidad of listaEspecialidades">{{especialidad}}</a>
                </div>
            </div>
            <div class="col-md-3" *ngIf="botonDoctor">
                <div class="text-center mb-2 p-2">
                    <img src="../../../../assets/solicitarTurno/especialista.png" class="img-fluid img-options">
                </div>
                <button class="btn btn-info dropdown-toggle w-100" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                    {{doctorEscogido}}
                </button>
                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="getValorDropdown($event, 'doctor')" (click)="getDoctor({doctor})"
                        *ngFor="let doctor of listaEspecialistasMostrar">{{doctor.nombre}} {{doctor.apellido}}</a>
                </div>
            </div>
            <div class="col-md-3" *ngIf="botonDia">
                <div class="text-center mb-2 p-2">
                    <img src="../../../../assets/solicitarTurno/dia.png" class="img-fluid img-options">
                </div>
                <button class="btn btn-info dropdown-toggle w-100" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown" (click)="getDias()">
                    {{diaEscogido}}
                </button>
                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="getValorDropdown($event, 'dia')" 
                        *ngFor="let dia of listaDiasMostrar">{{dia}}</a>
                </div>
            </div>
            <div class="col-md-3" *ngIf="botonHora">
                <div class="text-center mb-2 p-2">
                    <img src="../../../../assets/solicitarTurno/hora.png" class="img-fluid img-options">
                </div>
                <button class="btn btn-info dropdown-toggle w-100" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
                    {{horaEscogida}}
                </button>
                <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="getValorDropdown($event, 'hora')"
                        *ngFor="let hora of listaHorasDisponibles">{{hora}}</a>
                </div>
            </div>
        </div>
        <hr class="mb-4">
        <div class="row">
            <div class="col-md-6 text-center">
                <button class="btn btn-outline-warning btn-lg btn-block" type="submit"
                    (click)="limpiarCampos()">Limpiar</button>
            </div>

            <div class="col-md-6 text-center">
                <button class="btn btn-outline-primary btn-lg btn-block" type="submit"
                    (click)="subirTurno()">Confirmar</button>
            </div>
        </div>
    </div>
</div>