<div class="container-seleccion">
    <div class="row">
        <div class="col-md-6">
            <button>Ingresos</button>
        </div>
        <div class="col-md-6 d-flex flex-row">
            <span>
                Especialidad:
            </span>
            <button>Oftalmologia</button>
        </div>
        <ng-template>
            <div class="col-md-6 d-flex flex-row">
                <span>
                    Especialista:
                </span>
                <button>Dr. Falcon</button>
            </div>
        </ng-template>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span>
                Rango de fechas:
            </span>
        </div>
        <div class="col-md-6  d-flex flex-row">
            <button>01/01/2022</button>
            <button>31/12/2022</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-lg btn-outline-warning">Limpiar</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-lg btn-outline-primary">Buscar</button>
        </div>
    </div>
    <!-- grafiquitos -->
    <div class="row justify-content-center text-center">
        <div class="col-md-8">
            <button class="btn btn-lg btn-outline-success">Descargar</button>
        </div>
    </div>
</div>
