<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">-</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Email</th>
        <th scope="col">Validar</th>
      </tr>
    </thead>
    <tbody class="align-middle">
      <tr *ngFor="let especialista of listadoEspecialistas">
        <td><img src={{especialista.imagen}} class="img-fluid img-rounded rounded-circle"></td>
        <td>{{especialista.nombre}}</td>
        <td>{{especialista.apellido}}</td>
        <td>{{especialista.especialidad}}</td>
        <td>{{especialista.email}}</td>
        <td>
            <button class="btn btn-success btn-lg" (click)="validarEspecialista(especialista)">Validar</button>
        </td>
      </tr>
    </tbody>
  </table>
