.footer-div{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45%;
    padding-right: 10px;
}

.img-ingreso{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.align-self{
    align-self: center;
}

.cursor-pointer{
    cursor: pointer;
}