<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Login</h1>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="form-group">
                        <label for="email">
                            Email
                        </label>
                        <input type="email" class="form-control" formControlName="email">
                    </div>
                    <div class="form-group">
                        <label for="password">
                            Password
                        </label>
                        <input type="password" class="form-control" formControlName="password">
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary btn-lg w-100">
                        Login
                    </button>
                </form>
                <div class="form-group mt-3">
                    <p>
                        Eres nuevo?
                        <a [routerLink]="['/registro']">
                            Registrate
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <ng-template [ngIf]="created">
        <div class="row">
            <div class="col-md-6 mx-auto mt-1">
                <div class="card p-3 alert alert-danger" role="alert">
                    <span>
                        {{errorMessage}}
                    </span>
                </div>
            </div>
        </div>
    </ng-template>
</div>
<!-- <div class="row">
    <div class="col-md-2 mx-auto mt-5">
        <div class="card">
            <a class="btn btn-warning btn.lg w-80" (click)="usuarioPreCargado()">
                Usuario Cargado
            </a>
        </div>
    </div>
</div> -->
<div class="row bg-info pb-1 footer-div rounded">
    <div class="col rounded p-1 cursor-pointer" appColores="darkcyan" (click)="administrador()">
        <div class="d-flex justify-content-center">
            <div class="col-md-6 text-center">
                <div>
                    <img src="../../../assets/login/administrador.jpg" class="rounded-circle img-rounde img-fluid img-ingreso border border-dark p-1">
                </div>
            </div>
            <div class="col-md-6 text-center align-self">
                <span>
                    <strong>
                        Administrador
                    </strong>
                </span>
            </div>
        </div>
        <div class="text-center">
            <span>
                Dr. Vision
            </span>
        </div>
    </div>
    <div class="col rounded p-1 cursor-pointer" appColores="darkcyan" (click)="especialistaUno()">
        <div class="d-flex justify-content-center">
            <div class="col-md-6 text-center">
                <div>
                    <img src="../../../assets/login/especialistauno.jpg" class="rounded-circle img-rounde img-fluid img-ingreso border border-dark p-1">
                </div>
            </div>
            <div class="col-md-6 text-center align-self">
                <span>
                    <strong>
                        Especialista
                    </strong>
                </span>
            </div>
        </div>
        <div class="text-center">
            <span>
                Dr. Falcon
            </span>
        </div>
    </div>
    <div class="col rounded p-1 cursor-pointer" appColores="darkcyan" (click)="especialistaDos()">
        <div class="d-flex justify-content-center">
            <div class="col-md-6 text-center">
                <div>
                    <img src="../../../assets/login/especialistados.jpg" class="rounded-circle img-rounde img-fluid img-ingreso border border-dark p-1">
                </div>
            </div>
            <div class="col-md-6 text-center align-self">
                <span>
                    <strong>
                        Especialista
                    </strong>
                </span>
            </div>
        </div>
        <div class="text-center">
            <span>
                Dr. Light Yagami
            </span>
        </div>
    </div>
    <div class="w-100"></div>
    <div class="col rounded p-1 cursor-pointer" appColores="darkcyan" (click)="pacienteUno()">
        <div class="d-flex justify-content-center">
            <div class="col-md-6 text-center">
                <div>
                    <img src="../../../assets/login/pacienteuno.jpg" class="rounded-circle img-rounde img-fluid img-ingreso border border-dark p-1">
                </div>
            </div>
            <div class="col-md-6 text-center align-self">
                <span>
                    <strong>
                        Paciente
                    </strong>
                </span>
            </div>
        </div>
        <div class="text-center">
            <span>
                Bruce Wayne
            </span>
        </div>
    </div>
    <div class="col rounded p-1 cursor-pointer" appColores="darkcyan" (click)="pacienteDos()">
        <div class="d-flex justify-content-center">
            <div class="col-md-6 text-center">
                <div>
                    <img src="../../../assets/login/pacientedos.jpg" class="rounded-circle img-rounde img-fluid img-ingreso border border-dark p-1">
                </div>
            </div>
            <div class="col-md-6 text-center align-self">
                <span>
                    <strong>
                        Paciente
                    </strong>
                </span>
            </div>
        </div>
        <div class="text-center">
            <span>
                Barbara Gordon
            </span>
        </div>
    </div>
    <div class="col rounded p-1 cursor-pointer" appColores="darkcyan" (click)="pacienteTres()">
        <div class="d-flex justify-content-center">
            <div class="col-md-6 text-center">
                <div>
                    <img src="../../../assets/login/pacientetres.jpg" class="rounded-circle img-rounde img-fluid img-ingreso border border-dark p-1">
                </div>
            </div>
            <div class="col-md-6 text-center align-self">
                <span>
                    <strong>
                        Paciente
                    </strong>
                </span>
            </div>
        </div>
        <div class="text-center">
            <span>
                Wade Wilson
            </span>
        </div>
    </div>
</div>